page-user-create {
  .error {
    color: #f53d3d;
    /*a94442*/
  }

  .alert{
    text-align: center;
  }

  .alert-error{
    background: #f53d3d;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  .hide{
    display: none;
  }

  .input-wrapper {
    border-bottom: 1px solid #ccc;
  }

  .has-error .input-wrapper {
    color: #f53d3d;
    border-bottom: 3px solid #f53d3d;
  }

  .input-has-focus .input-wrapper {
    color: #4D8CF4;
    border-bottom: 3px solid #4D8CF4;
  }

  .no-lines .input-wrapper{
     border:none;
  }

}
