page-user-create {
  .error {
    color: #a94442;
  }

  .alert{
    text-align: center;
  }

  .alert-error{
    background: #a94442;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
  }

  .hide{
    display: none;
  }

  .input-wrapper {
    border-bottom: 1px solid #ccc;
  }

  .has-error .input-wrapper {
    color: #a94442;
    border-bottom: 3px solid #a94442;
  }

  .no-lines .input-wrapper{
     border:none;
  }

}
