<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="users">
    <button ion-item *ngFor="let user of users" (click)="toUser(user._id)">
      <ion-avatar item-start>
        <img *ngIf="!user.githubData" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d51?f=y&d=mm">
        <img *ngIf="user.githubData" src={{user.githubData.avatar_url}}>
      </ion-avatar>
      {{user.username}}
    </button>
  </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="toUserCreate()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
